<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{post.title}}</h1>
          <span class="meta">Posted by
              <a href="mailto:{{user.email}}">{{user.name}}</a></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{post.body}}
        <div class="media border p-3" *ngFor="let comment of comments">
          <div class="media-body">
            <h5>{{comment.name}} <small><i>by <a href="mailto:{{comment.email}}">{{comment.email}}</a></i></small></h5>
            <p>{{comment.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<hr>
