<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview" *ngFor="let post of posts">
        <a routerLink="/blog/{{post.id}}">
          <h2 class="post-title">
            {{post.title}}
          </h2>
        </a>
        <p class="post-meta">Posted by
          <a href="mailto:{{users[post.userId].email}}">{{users[post.userId].name}}</a> Comments: {{comments[post.id]}}</p>
        <hr>
      </div>

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" *ngIf="!isLastPage" (click)="loadPage(page + 1)">Next Page &rarr;</a>
        <a class="btn btn-primary float-right" *ngIf="!isFirstPage" (click)="loadPage(page - 1)">&larr; Prev Page</a>
      </div>
    </div>
  </div>
</div>

<hr>
